body {
  background-color: #FFFACD;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 960;
}
/* <header> */

.header {
  width: 960;
  height: 50px;
  background: #FFE4C4;
  border-radius: 5px 5px 5px;
  box-shadow: 1px 2px 3px;
}

/* menu */

.header ul {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.header li {
  display: inline-block;
  font-family: 'Ubuntu';
}

.header li:hover{
  color: #DAA520;
}

.logo {
  display: block;
  float: left;
}

.logo h1 {
  font-family: 'Ubuntu', sans-serif;
  margin: 5px 0 5px 15px;
}

/* fim header */

/* Section */
