body {
  background-color: #FFFACD;
  font-family: sans-serif;
}

.container {
  margin: 0 auto;
  width: 960;
}
/* <header> */

.header {
  width: 960;
  height: 50px;
  background: #FFE4C4;
  border-radius: 5px 5px 5px;
  box-shadow: 1px 2px 3px;
}

/* menu */

.header ul {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.header li {
  display: inline-block;
  font-family: 'Ubuntu';
}

.header li:hover{
  color: #DAA520;
}

.logo {
  display: block;
  float: left;
}

.logo h1 {
  font-family: 'Ubuntu', sans-serif;
  margin: 5px 0 5px 15px;
}

/* fim header */

/* section */

.main {
  background-color: #FFE4C4;
  margin-top: 20px;
  border-radius: 5px 5px 5px;
  box-shadow: 1px 2px 3px;
}
.praia {
  height: 300px;
  border-top: 1px solid black;
  margin-bottom: 20px;
}

.praia h2 {
  margin: 0 0 0 20px;
  padding-top: 10px;
  color: blue;


}

.praia img {
  width: 300px;
  height: 200px;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 2px;

}

.clear {
  clear: both;
}

/* Fim section */

/* footer */
.footer {
  background-color: gray;
  border-radius: 5px 5px 5px;
}

.footer p {
  text-align: center;
}

